<header>
  <nav id="navigation">
  <dev class="warraper">
    <ul class="menu">
      <li><%= link_to "Lesson" %></li>
      <li><%= link_to "Profile" %></li>
      <li><%= link_to "Logout" %></li>
    </ul>
  </div>
</nav>
</header>

<p><%= link_to "N1-Test", test_n1_path, class: "" %></p>
<p><%= link_to "N2-Test", test_n2_path, class: "" %></p>
<p><%= link_to "N3-Test", test_n3_path, class: "" %></p>
<p><%= link_to "N4-Test", test_n4_path, class: "" %></p>
<p><%= link_to "N5-Test", test_n5_path, class: "" %></p>

<p><%= link_to "問題作成", questions_new_path, class: "" %></p>
<p><%= link_to "テスト", questions_test_test_path, class: "" %></p>
